Package: com.dgh0st.nolsnotificationblur
Name: NoLSNotificationBlur
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Removes the lockscreen notification blur/underlay.
Maintainer: DGh0st <deeppwnage@yahoo.com>
Author: DGh0st <deeppwnage@yahoo.com>
Section: Tweaks
